<nav class="bg-blue-500">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <%= link_to "Giftmash", root_path, class: "text-white font-bold text-lg" %>
    <ul class="flex font-medium space-x-8 w-auto">
      <li>
        <%= link_to "Gifts", root_path, class: "text-white" %>
      </li>
      <li>
        <%= link_to "Vote", new_upvote_path, class: "text-white border border-white hover:bg-white hover:text-blue-500 rounded-lg px-5 py-2.5" %>
      </li>
    </ul>
  </div>
</nav>
